 /* 

This is a custom css file to include styles 
for your own exchange. The following style is 
used by & created by BitStash.co 

Add Custom Styles Below

*/


.navBarDiv {
    background-color: #323232;
    color: white!important;
}

span.flexP {
    color: white!important;
}

a.flexP {
    color: white!important;
}

.selectMarketDiv {
    background: linear-gradient(180deg, rgba(36, 57, 118, 1) 100%, rgba(24, 79, 230, 1) 0%)!important;
    border-bottom: 1px solid #184FE6!important;
}

.lineBreak {
    border-left: 2px solid #1f1f1f!important;
}

.flexP {
    bottom: 0.7rem!important;
}

.statBarDiv {
    background: #212121!important;
    max-height: 3rem!important;
    margin-top: 0px!important;
    min-height: 3rem!important;
}

.tokenPairingP {
    color: white!important;
}

.lastPriceUSD {
    color: white!important;
}

.lastPriceText {
    color: white!important;
}

.hourText {
    color: white!important;
}

.contractInfoName {
    color: white!important;
}