 /* 

This is a custom css file to include styles 
for your own exchange. The following style is 
used by & created by BitStash.co 

Add Custom Styles Below

*/


.navBarDiv {
    background-color: #323232;
    color: white!important;
}

span.flexP {
    color: white!important;
}

a.flexP {
    color: white!important;
}

.selectMarketDiv {
    background: linear-gradient(180deg, rgba(36, 57, 118, 1) 100%, rgba(24, 79, 230, 1) 0%)!important;
    border-bottom: 1px solid #184FE6!important;
}

.lineBreak {
    border-left: 2px solid #1f1f1f!important;
}

.flexP {
    bottom: 0.7rem!important;
}

.statBarDiv {
    background: #212121!important;
    max-height: 3rem!important;
    margin-top: 0px!important;
    min-height: 3rem!important;
}

.tokenPairingP {
    color: white!important;
}

.lastPriceUSD {
    color: white!important;
}

.lastPriceText {
    color: white!important;
}

.hourText {
    color: white!important;
}

.contractInfoName {
    color: white!important;
}

body.dark .component {
    background-color: #2e2e2e!important;
}

body.dark {
    background-color: #101010!important;
}

body.dark .table-order-book tr.sell-row:nth-child(even) {
    background: transparent!important;
}

body.dark .table-order-book tr.buy-row:nth-child(odd) {
    background: transparent!important;
}

.table-trades tr:nth-of-type(even) {
    background: transparent!important;
}

body.dark .component-header {
    color: white!important;
}

body.dark .table-order-book th {
    color: white!important;
}

body.dark table th {
    color: white!important;
    padding-left: 12px!important;
}

body.dark .table-trades a, body.dark .table-trades td:first-child {
    color: white!important;
}

.table-trades td {
    color: white!important;
}

.table-order-book tr td {
    color: white!important;
}

.component-tabs .nav-link.active {
    background-color: #424242 !important;
    color: white !important;
}

.nav-link2.active {
    border-bottom: 1px solid white!important;
}

.openOrdersClass {
    color: white!important;
}

body.dark .component .form-control {
    background-color: #434343!important;
    border: 1px solid #434343!important;
    color: white!important;
}

div {
    color: white!important;
}

span.input-group-text {
    color: white!important;
}

.availableBoxContainer {
    background: #434343!important;
    border: 1px solid #434343!important;
}

.availableBoxTitle {
    color: white!important;
}

.availableBoxValue {
    color: white!important;
}

.selectMarketDropdown {
    background: #434343!important;
}

.basePairText {
    background-color: #434343!important;
    color: white!important;
}

.selectMarketPair:hover {
    color: black!important;
}

.modal-content {
    background-color: #434343!important;
}

a.basePairText:hover {
    background-color: #969696!important;
}

.alertify .ajs-dialog {
    background-color: #434343!important;
}

.alertify .ajs-header {
    border-bottom: 1px solid #434343!important;
    background-color: #434343!important;
}

.alertify .ajs-footer {
    background-color: #434343!important;
    border-top: 1px solid #434343!important;
}

.balancedivTopBarSpan {
    color: white!important;
}

.balanceMiddleDivTitle {
    color: white!important;
}

.balanceMiddleDivSpan {
    color: white!important;
}

.balanceMiddleTokenSymbol {
    color: white!important;
}

.balanceMiddleTokenBalance {
    color: white!important;
}

div#balancesDropdown {
    border: 1px solid #434343!important;
}

.dropdown-menu {
    color: white!important;
    background-color: #434343!important;
}

.navBarContainer {
    background-color: #323232!important;
    max-height: 3.6rem!important;
}

.mobileMenu {
    background: #434343!important;
}

ul.dropdown-menu.dropdown-menu-left.show {
    padding-left: 18px!important;
}

.dropdown-item a {
    display: block;
    color: white!important;
}

.dropdown-item a:hover {
    color: black!important;
}

@media only screen and (max-device-width:510px) {
span.trn.orderbooktd {
    padding-left: 300px;
}
}

@media only screen and (max-device-width:700px) {
span.trn.orderbooktd {
    padding-left: 150px;
}
}